.checkoutHeader {
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.headerContent {
  width: 100%;
  max-width: 1100px;

  display: flex;
  align-items: center;
}

.checkoutHeaderLeftSection {
  width: 200px;
}

.logo {
  height: auto;
  margin-top: 0px;
}

.mobileLogo {
  display: none;
}

/* @media is used to create responsive design (making the
   website look good on any screen size). This @media
   means when the screen width is 575px or less, different
   styles (inside the {...}) will be applied. */
@media (max-width: 575px) {
  .checkoutHeaderLeftSection {
    width: auto;
  }

  .logo {
    display: none;
  }

  .mobileLogo {
    display: inline-block;
    height: auto;
  }
}

.checkoutHeaderMiddleSection {
  flex: 1;
  flex-shrink: 0;
  text-align: center;

  font-size: 22px;
  font-weight: 500;

  display: flex;
  justify-content: center;
}

.returnToHomeLink {
  color: rgb(25, 135, 84);

  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .checkoutHeaderMiddleSection {
    font-size: 20px;
    margin-right: 60px;
  }

  .returnToHomeLink {
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .checkoutHeaderMiddleSection {
    margin-right: 5px;
  }
}

.checkoutHeaderRightSection {
  text-align: right;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.checkoutHeaderRightSection img {
  height: 32px;
}

@media (max-width: 1000px) {
  .checkoutHeaderRightSection {
    width: auto;
  }
}